# Default ignored files
/shelf/
/workspace.xml
/ourcode-iot-platform.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
create_topics.sh
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
